.term {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px 12px;

  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba($color: #000, $alpha: 10%);

  &-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }

  &-meaning {
    width: 100%;
  }

  & p {
    margin: 0;
    padding: 0;
  }
}
