.term {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px 12px;

  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 1px rgb(44 44 54 / 4%), 0 0 2px rgb(44 44 54 / 6%),
    0 4px 8px rgb(44 44 54 / 4%);

  &-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }

  &-meaning {
    width: 100%;
  }

  & p {
    margin: 0;
    padding: 0;
  }
}
